@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="contact-container">
    <div class="contact-banner-container">
        <div class="contact-banner position-relative">
            <h1 class="position-absolute top-50 start-50 translate-middle">
                Contact
            </h1>
        </div>
    </div>

    <div class="contact-details-contaier grid">
        <div class="get-in-touch">
            <h3>
                Get in touch with us
            </h3>
            <p class="note">
                If you have any inquiries, question, or concern, <br/> you can send us a message by filling up the form below. <br/>
                We will also greatly appreciate any feedbacks or comment from you. <br/>
                We are looking forward on talking about business with you.
            </p>
            <div class="getInTouch-form">
                <form>
                    <label for="name">Name <span style="color: red; font-weight: normal">*</span></label>
                    <input type="text" name="name" required />

                    <label for="email">Email <span style="color: red; font-weight: normal">*</span></label>
                    <input type="email" name="email" required/>

                    <label for="message">Comment or Message <span style="color: red; font-weight: normal">*</span></label>
                    <textarea name="message" rows="6" cols="60" placeholder="Message or Comment here" required></textarea>

                    <button class="message-button" type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="location-businessHours">
            <div class="location">
                <h3>
                    Our Address
                </h3>
                <p class="address">
                    <strong>Pagkaing Pinoy Restaurant</strong> <br/>
                    St. Joseph Village 3 <br/>
                    Barangay Mamatid <br>
                    Cabuyao City, Laguna <br/>
                    4025 <br/>
                    Philippines <br/>
                    <strong>+63-966-587-2517</strong>
                </p>
            </div>

            <div class="business-hours">
                <h3>
                    Opening Hours
                </h3>
                <p class="hours">
                    <strong>Monday - Saturday</strong> <br/>
                    <time>11:00am to 10:00pm</time> <br />
                    <strong>Sunday</strong> <br/>
                    <time>12:00pm to 10:00pm</time>

                </p>
            </div>
        </div>
    </div>
</div>